@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00c26e;
  --color-dark: #081020;
  --color-light: #f2f4f7;
  --color-accent: #f58942;
}

body {
  background-color: #081020;
  color: #f2f4f7;
  font-family: 'Nunito Sans', sans-serif;
}
