# dependencies
node_modules/

# env files (all of them, in any folder)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build output
/backend/dist
/backend/generated
/frontend/.next
/frontend/out
/frontend/next-env.d.ts
*.tsbuildinfo

# logs
*.log
npm-debug.log*

# OS
.DS_Store

# editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
